.contenedor {
    background-image: url("https://images.unsplash.com/photo-1544656376-ffe19d4b7353?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2llbG8lMjBuZWdyb3xlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    color: white;
}

.contenedor2 {
    background-image: url("https://images.unsplash.com/photo-1544656376-ffe19d4b7353?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2llbG8lMjBuZWdyb3xlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    backgruond-attachment: fixed;
    color: white;
    padding-left: 245px;
    padding-right: 245px;
    padding-top: 10px;
}

.opciones {
    margin-left: -480px
}
.card img {
    width: 100%;
    height: 230px;
}

.card {
    width: 230px;
}
.seccion-principal img {
    width: 65%;

}
.linea-vertical {
    width: 1px;
    height: 160px;
    background-color: rgb(68, 68, 68);
    margin-left: 10px;
    margin-right: 10px;
}
.corazon:active{
    color: red;
}
.dropdown-item:hover {
    background-color: transparent !important; 
    color: #ffc107 !important; 
}
